Package: com.maxleiter.xcursor-themes
Name: xcursor-themes
Version: 0.4.1
Architecture: iphoneos-arm
Description: xcursor-themes port to iOS. Installs to /usr/local
Homepage: https://github.com/maxleiter/cydia
Depiction: https://maxleiter.com/cydia/depictions/?p=com.maxleiter.temp
Maintainer: Max L (maxwell.leiter@gmail.com)
Author: Max L
Section: Cursor Themes
Depends: com.maxleiter.xorgapplications
