Package: com.maxleiter.libXpm
Name: libXpm
Version: 3.5.13
Architecture: iphoneos-arm
Description: libXpm port to iOS. Installs to /usr/local
Homepage: https://github.com/maxleiter/cydia
Depiction: https://maxleiter.com/cydia/depictions/?p=com.maxleiter.temp
Maintainer: Max L (maxwell.leiter@gmail.com)
Author: Max L
Section: X11
