Package: com.maxleiter.xkeyboard-config
Name: xkeyboard-config
Version: 2.28
Architecture: iphoneos-arm
Description: xkeyboard-config port to iOS. Installs to /usr/local
Homepage: https://github.com/maxleiter/cydia
Depiction: https://maxleiter.com/cydia/depictions/?p=com.maxleiter.temp
Maintainer: Max L (maxwell.leiter@gmail.com)
Author: Max L
Section: X11
Depends: com.maxleiter.xorglibraries
