Package: com.maxleiter.iceauth
Name: iceauth
Version: 1.0.8
Architecture: iphoneos-arm
Description: iceauth port to iOS. Installs to /usr/local.
Homepage: https://github.com/maxleiter/cydia
Depiction: https://maxleiter.com/cydia/depictions/?p=com.maxleiter.temp
Maintainer: Max L (maxwell.leiter@gmail.com)
Author: Max L
Section: X11
Depends: com.maxleiter.libpng, com.maxleiter.mesa, com.maxleiter.xbitmaps, com.maxleiter.xcb-util
