Package: com.maxleiter.xcb-util-renderutil
Name: xcb-util-renderutil
Version: 0.3.9
Architecture: iphoneos-arm
Description: xcb-util-renderutil port to iOS. Installs to /usr/local
Homepage: https://github.com/maxleiter/cydia
Depiction: https://maxleiter.com/cydia/depictions/?p=com.maxleiter.temp
Maintainer: Max L (maxwell.leiter@gmail.com)
Author: Max L
Section: X11
