Package: com.maxleiter.libXfont2
Name: libXfont2
Version: 2.0.4
Architecture: iphoneos-arm
Description: libXfont2 port to iOS. Installs to /usr/local
Homepage: https://github.com/maxleiter/cydia
Depiction: https://maxleiter.com/cydia/depictions/?p=com.maxleiter.temp
Maintainer: Max L (maxwell.leiter@gmail.com)
Author: Max L
Section: X11
Depends: com.maxleiter.fontconfig, com.maxleiter.libxcb
