Package: com.maxleiter.libXmu
Name: libXmu
Version: 1.1.3
Architecture: iphoneos-arm
Description: libXmu port to iOS. Installs to /usr/local
Homepage: https://github.com/maxleiter/cydia
Depiction: https://maxleiter.com/cydia/depictions/?p=com.maxleiter.temp
Maintainer: Max L (maxwell.leiter@gmail.com)
Author: Max L
Section: X11
