Package: com.maxleiter.font-alias
Name: font-alias
Version: 1.0
Architecture: iphoneos-arm
Description: font-alias. Installs to /usr/local/
Homepage: https://github.com/maxleiter/cydia
Depiction: https://maxleiter.com/cydia/depictions/?p=com.maxleiter.temp
Maintainer: Max L (maxwell.leiter@gmail.com)
Author: Max L
Section: Fonts
Depends: com.maxleiter.xcursor-themes
