Package: com.maxleiter.libICE
Name: libICE
Version: 1.0.10
Architecture: iphoneos-arm
Description: libICE port to iOS. Installs to /usr/local
Homepage: https://github.com/maxleiter/cydia
Depiction: https://maxleiter.com/cydia/depictions/?p=com.maxleiter.temp
Maintainer: Max L (maxwell.leiter@gmail.com)
Author: Max L
Section: X11
Depends: com.maxleiter.fontconfig, com.maxleiter.libxcb
