Package: com.maxleiter.font-xfree86-type1
Name: font-xfree86-type1
Version: 1.0
Architecture: iphoneos-arm
Description: font. Installs to /usr/local/bin.
Homepage: https://github.com/maxleiter/cydia
Depiction: https://maxleiter.com/cydia/depictions/?p=com.maxleiter.temp
Maintainer: Max L (maxwell.leiter@gmail.com)
Author: Max L
Section: Fonts
