Package: com.maxleiter.pixman
Name: pixman
Version: 0.38.4
Architecture: iphoneos-arm
Description: pixman port to iOS. Installs to /usr/local
Homepage: https://github.com/maxleiter/cydia
Depiction: https://maxleiter.com/cydia/depictions/?p=com.maxleiter.temp
Maintainer: Max L (maxwell.leiter@gmail.com)
Author: Max L
Section: Development
