Package: com.maxleiter.libjpeg-turbo
Name: libjpeg-turbo
Version: 2.0.4
Architecture: iphoneos-arm
Description: libjpeg-turbo port to iOS. Installs to /usr/local
Homepage: https://github.com/maxleiter/cydia
Depiction: https://maxleiter.com/cydia/depictions/?p=com.maxleiter.temp
Maintainer: Max L (maxwell.leiter@gmail.com)
Author: Max L
Section: Development
