Package: com.maxleiter.rev
Name: rev
Version: 2.34.354-90084
Architecture: iphoneos-arm
Description: Reverses stdout
Homepage: https://github.com/maxleiter/cydia
Depiction: https://maxleiter.com/cydia/depictions/?p=com.maxleiter.rev
Maintainer: Max L (maxwell.leiter@gmail.com)
Author: Max L
Section: Utilities
