Package: com.maxleiter.util-linux
Name: util-linux
Version: 2.34
Architecture: iphoneos-arm
Description: Common linux programs. more, less, mkfs, cal, rev, etc.
Homepage: https://github.com/maxleiter/cydia
Depiction: https://maxleiter.com/cydia/depictions/?p=com.maxleiter.util-linux
Maintainer: Max L (maxwell.leiter@gmail.com)
Author: Max L
Depends: com.mc.ncurses
Section: Utilities
