Package: com.maxleiter.util-macros
Name: util-macros
Version: 1.19.2
Architecture: iphoneos-arm
Description: util-macros port to iOS. Installs to /usr/local
Homepage: https://github.com/maxleiter/cydia
Depiction: https://maxleiter.com/cydia/depictions/?p=com.maxleiter.temp
Maintainer: Max L (maxwell.leiter@gmail.com)
Author: Max L
Section: X11
